<%= link_to("<< Back to Activity Detail", activities_path, :class => 'back-link') %>

<div class="daily_logs new">
  <h2>Add New Daily Log</h2>

  <%= form_for(@daily_log) do |f| %>
<%= error_messages_for(f.object)%>

    <table summary="DailyLog form fields">

        <tr>
        <th>Choose Activity</th>
        <td><%= f.select(:activity_id, Activity.all.map{|a| [a.name, a.id]}) %></td>
      </tr>
      <tr>
        <th>Date</th>
        <td><%= f.date_select(:date) %></td>
      </tr>
      <tr>
        <th>How much did you achieved today?</th>
        <td><%= f.text_field(:achieved) %></td>
      </tr>
      <tr>
        <th>Would you like to add any comments?</th>
        <td><%= f.text_area(:comments, :size=> '20x5') %></td>
      </tr>
    <tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create DailyLog") %>
    </div>

  <% end %>
</div>
