<div class="activities index">
<%= link_to("<< Back to Index", '/', :class => 'back-link') %>

  <h2>Activities</h2>

  <%= image_tag('plus_sign.png', :size => '11x11', :alt=>'+')%>
  <%= link_to("Add New activity", new_activity_path(), :class => 'action new') %>
  <br/>
  or
  <br/>
  <%= image_tag('plus_sign.png', :size => '11x11', :alt=>'+')%>
  <%= link_to("Add a new Log", new_daily_log_path(), :class => 'action new') %>
  <table class="listing" summary="activity list">
    <tr class="header">
      <th>Activity</th>
      <th>Daily Goal</th>
      <th>Frequency per week</th>
      <th>Units</th>
      <th>Logs</th>
      <th>Actions</th>
    </tr>
    <% @activities.each do |activity| %>
    <tr>
      <td><%= activity.name %></td>
      <td class="center"><%= activity.goal ? activity.goal : 'Please add a goal to your habit' %></td>
        <td class="center"><%= activity.frequency ? activity.frequency : 'Please add how many times a week would you like to achieve your goal' %></td>
        <td class="center"><%= activity.units ? activity.units : 'Please add the units to measure your goal' %></td>
        <td class="center"><%= activity.daily_logs.size%></td>
      <td class="actions">
        <%= link_to("Show Detailed view and logs", activity_path(activity), :class => 'action show') %>
        <br/>
        <%= link_to("Edit Activity", edit_activity_path(activity), :class => 'action edit') %>
        <br/>
        <%= link_to("Delete Activity", delete_activity_path(activity), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>