<%= link_to("<< Back to List", activities_path, :class => 'back-link') %>
<div class="activities new">
  <h2>Create New Activity</h2>

  <%= form_for(@activity) do |f| %>
<%= error_messages_for(f.object)%>


    <table summary="Activity form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Daily Goal</th>
        <td><%= f.text_field(:goal) %></td>
      </tr>
    <tr>
        <th>Units</th>
        <td><%= f.text_field(:units) %></td>
      </tr>
      <tr>
        <th>Frequency per week</th>
        <td><%= f.select(:frequency, 1..7) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create Activity") %>
    </div>

  <% end %>
</div>
