<!DOCTYPE html>
<html>
  <head>
    <title>PositiveHabits</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%=
        link_to_if(current_user.nil?, "Login", signed_in?, class: 'btn btn-primary m-5') do
            link_to('Sign out',  destroy_user_session_path, :method => 'delete', class: 'btn btn-danger m-5')
        end
    %>
    <div id="main">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
      <div id="content">
    <%= yield %>
      </div>
        </div>
        <div id="footer">
      <p id="copyright">Created by:Gabriel Valenzuela</p>
    </div>
  </body>
</html>
